

<div class="col-md-12">
<div class="col-md-4 col-md-offset-2" style="padding-right:0px;">
<form>
    <input type="text" value="<%= params[:keyword]%>" name="keyword" class="col-md-6">
    <%= submit_tag "Search", class: 'btn btn-danger btn-md' ,style: "margin-left:10px;" %>

</form>
</div>
    <button class="btn btn-primary col-md-1" style="margin-left:0px;">Post a job</button>
</div>



<div class="row">

<div class="col-md-7 showjob col-md-offset-1"   >

    <p class="col-md-9 col-md-offset-3 search-p" style="color:#e99;"> Total of <%= @post_count %>  results found</p>
    <% @post.each do |job| %>



        <div class="col-md-12 jobinfo">
        <div class="col-md-9">

        <p class="text-center job-title"><%= link_to("#{ job.title.humanize}",job,class: 'job-title') %> </p>

            <p class="text-center">
                <%= job.comp_name.humanize %>,
            <%= job.created_at.strftime("%B, %d,%Y") %>

            <span class="label label-danger pull-right ">
            <%= job.category.name.humanize%>


            </span>

            </p>



</div>


            <div class="col-md-3 col-md-offset">
            <p>
            <i class="fa fa-map-marker"></i>
            <%= job.location.humanize %>,
            </p>


            <i class="fa fa-clock-o"></i>
            <%= time_ago_in_words(job.created_at)%> ago




            </div>

        </div>


        <% end %>



        </div>


<div class="col-md-3 sidebar">
    <h1>Job Categories</h1>

<div class="sidebar-content categories">
    <% @category.each do |category| %>
        <p class="text-center text-border">
        <%= link_to(category.name.humanize, jobs_path(filter: category.id) ) %>
        </p>
    <% end %>


</div>

</div>

    </div>

<div class="col-md-12">
    <div class="col-md-5 col-md-offset-3">
        <%= will_paginate @post%>
    </div>
</div>



