<div class="container">

	<div class="col-md-7">

		<%= form_for(@post) do |f| %>
		<h3> Step 1: Post your job</h3>
		<hr>

		<div class="field">
			<div class="col-md-3">
				<%= f.label :Job_Title %>
			</div>

			<div class="col-md-9">
				<%= f.text_field :title ,class: 'form-control',placeholder: 'eg: ruby on rails intern'%>
			</div>


			<div class="field col-md-12">
				<div class="col-md-3">
					<label>Category</label>
				</div>
				<% cities_array = Job.all.map { |city| [city.title, city.id] } %>
				<%= f.collection_select(:category_id,Category.all,:id,:name) %>

			</div>


			<div class="field col-md-12">
				<div class="col-md-3">
					<%= f.label :location %>
				</div>

				<div class="col-md-9">
					<%= f.text_field :location ,class: 'form-control' , placeholder: 'eg: Durbar marg'%>
				</div>
			</div>

			<div class="field col-md-12">
				<div class="col-md-12">
					<%= f.label :description %>
				</div>
				<div class="col-md-12">
					<%= f.text_area :description ,class: 'form-control', rows:10, cols:10 %>
				</div>
			</div>

			<div class="field col-md-12">
				<div class="col-md-3">
					<%= f.label :customer_email %>
				</div>
				<div class="col-md-9">
					<%= f.text_field :email_customer ,class: 'form-control',placeholder: 'Email where job seekers can contact you'%>
				</div>
			</div>

			<h3>Step 3: Company details</h3>
			<hr>





			<div class="field col-md-12">
				<div class="col-md-3">

					<%= f.label :company_name %>
				</div>
				<div class="col-md-9">

					<%= f.text_field :comp_name ,class: 'form-control'%>
				</div>
			</div>

			<div class="field col-md-12">
				<div class="col-md-3">
					<%= f.label :company_URL %>
				</div>

				<div class="col-md-9">
					<%= f.text_field :comp_url ,class: 'form-control',placeholder: 'www.techlab.com'%>
				</div>
			</div>

			<div class="field col-md-12">
				<div class="col-md-3">
					<%= f.label :Company_email %>
				</div>
				<div class="col-md-9">
					<%= f.text_field :email_comp ,class: 'form-control', placeholder: 'where do we contact you?'%>
				</div>
			</div>

			<br>

			<div class=" field action col-md-5 pull-right">
				<%= f.submit "Done" , class: 'btn btn-danger btn-md btn-block'%>
			</div>






			<% end %>
		</div>
	</div>
	<div class="col-md-3 field_with_errors">

		<% if @post.errors.any? %>
		<div id="error_explanation">
			<p class="text-danger">

				<%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
			</p>

			<ul>
				<% @post.errors.full_messages.each do |message| %>
				<li class="text-danger"><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
	</div>
</div>



