<!DOCTYPE html>
<html>
<head>
  <title>Techjobsinnepal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="col-md-12" style="background-color:#f6f8f8;">
  <%= image_tag("background.png",style: 'height:90px;width:120px;',class:'col-md-4 col-md-offset-1') %>

  <h1 class="col-md-4" style="margin-top:20px;"> <span class="tech-jobs">Tech jobs</span> in Nepal</h1>
</div>

<div class="col-md-12" style="margin-bottom:20px;background-color:#f6f8f8;">
	<div class="col-md-7 col-md-offset-1">



<ul class="nav nav-pills">

    <li role="presentation">  <%= link_to("Home", root_path ) %>   </li>
    <li role="presentation"><%= link_to("Post a Job", new_job_path ) %></li>
    <li role="presentation"><%= link_to("Categories", category_path) %></li>
    <li role="presentation"><%= link_to("Company Profile", compprofile_path) %></li>
    <li role="presentation"><%= link_to("Contact Us" , new_contact_path )%></li>
    <li role="presentation"><%= link_to("Sign in" , new_user_session_path )%></li>


</ul>
	</div>
</div>

<%= yield %>

<footer class="col-md-12">

<div class="col-md-4">
<p>

	&copy Copyright Tech Jobs in Nepal

</p>
</div>

<div class="col-md-4">
	<p>


      Handcrafted with <i class="fa fa-heart-o"></i> by developers from Nepal.

  </p>
</div>

<div class="col-md-4">
	<p> Contact </p>
	<p>Email: info@techjobsinnepal.com</p>
	<p>Contact: 9801134052</p>

</div>

</footer>

</body>
</html>
